/* Menu Effect */

.work-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 100px;
    border: 1px solid red;
    color: #fff;
  }
  .testing {
    display: flex;
    .nested-test {
      display: block;
      .merge-test {
        opacity: 0;
      }
    }
  }
}
