
/*grid*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .row {flex-direction: column;}
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

html {
  margin: 0;
}

body {
  max-width: 2000px;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #222222;
}

header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("img/header-back.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 15vh;
}

@media (max-device-width: 800px) {
  header {
    height: 50vh;
  }
}

video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  line-height: .8;
  color: #fff;
  font-size: 5vw;
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}

h2 {
  width: 100%;
  text-align: center;
  color: #585858;
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
}

header h3 {
  color: #fff;
  font-size: 2.3vw;
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}

h3 {
  font-weight: lighter;
  font-size: 1.3rem;
}

p {
  text-align: center;
  width: 70%;
  color: #565656;
  margin: 0 auto;
  padding-bottom: 1%;
}

hr {
  opacity: .5;
  width: 70%;
  margin-bottom: 1.5rem;
}

@media (min-width: 2000px) {
  h1 {
    font-size: 10rem;
  }
}

.logo {
  width: 20%;
  margin: 0 auto;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.intro h3 {
  font-size: 1.3rem;
  border-bottom: 1px solid #c9c9c9;
  padding: 2rem 0 3rem;
  text-align: center;
  width: 70%;
}

.title {
  margin-bottom: 0;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 2000px;
  min-height: 300px;
  background: #f7f7f7;
  padding: 2.5% 5%;
}

.work-container {
  margin: 0;
}

.work {
  opacity: .88;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s; 
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.work a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.work img {
  width: 100%;
  max-width: 300px;
  margin-bottom: -30px;
  transition: filter, .2s;
  -webkit-filter: grayscale(100%) brightness(%); /* Chrome, Safari, Opera */
  filter: grayscale(100%) brightness(%); 
}

.work:hover img {
    -webkit-filter: grayscale(0%) brightness(100%); /* Chrome, Safari, Opera */
    filter: grayscale(0%) brightness(100%); 
}

.work .more {
  transition: .3s; 
  opacity: 0;
  width: 200px;
  border: 3px solid white;
  font-size: 1.3rem;
  text-shadow: 1px 1px 5px rgba(10, 10, 10, 1);
  box-shadow: 0px 0px 5px rgba(10, 10, 10, .4);
  padding: 10px 0;
  color: #fff;
  background-color: #38393b;
  min-height: auto;
  top: -145px;
  position: relative;
}

.work:hover .more {
  opacity: 1;
}

.work img:nth-child(even) {
    margin-bottom: 20px;
  }

.featherlight-content {
  max-width: 55%;
}

@media (max-device-width: 800px) {
  .featherlight-content {
    max-width: 95%;
  }
}

.featherlight .featherlight-close-icon {
  font-size: 1.5rem;
  top: 10px;
  right: 10px;
}

.work-example {
  display: none;
  max-width: 80%;
  margin: 0 auto;
}

.work-example h3 {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.work-example h2 {
  margin-top: 0;
}

.work-example p {
  width: 60%;
}

.work-example hr {
  width: 100%;
}

.work-example img {
  width: 33%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.work-text {
  display: flex;
  align-items: center;
}

.work-text p {
  padding: 30px 0 30px 30px;
  text-align: left;
  margin-top: -5%;
}

.work-example img:last-child {
  width: 90%;
}

.work-example .live-link {
  color: #4a5fb3;
  position: relative;
  top: 20px;
}

.skill {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skill hr, .work hr {
  width: 20%;
  margin: 20px 0;
  opacity: .5;
}

.skill h3, .work h3 {
  margin: 0;
  font-weight: lighter;
  text-align: center;
}

.skill p, .work p {
  width: 90%;
  min-height: 65px;
}

.skill img {
  width: 20%;
  padding-bottom: 20px;
  opacity: .7;
}

.contact-links {
  margin-top: 2.5rem;
}

.contact-links a {
  margin: 0 20px;
  opacity: .7;
}

.contact-links a:first-child {
  top: -5px;
  position: relative;
}

.contact-links img {
  width: 30px;
}
